<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="row">
            <div class="col-sm-6">
                <a type="button" class="btn btn-success" href="https://kite.zerodha.com/connect/login?api_key=<%=apiKey%>">Authorize Zerodha</a>
                <a type="button" class="btn btn-success" href="/start-ticker">Start Ticker</a>
                <h1 class="display-3">Current Price</h1>
            </div>
            <div class="col-sm-6">
                <h2 id="price"></h2>
            </div>
        </div>
    </div>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
        $(function() {
            var socket = io();
            socket.on('price', function(msg) {
                console.log(msg);
                $('#price').text(msg);
                window.scrollTo(0, document.body.scrollHeight);
            });
        });
    </script>
</body>

</html>